{% set currentMenu = knp_menu_get_current_item(menu) %}
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>{{ currentMenu.label }}
            <small>{{ currentMenu.extras.description }}</small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
{% for key,breadcrumb in knp_menu_get_breadcrumbs_array(currentMenu) if key > 0 %}
    {% if currentMenu != breadcrumb.item %}
        <li>
            <span style="color:#337ab7;">{{ breadcrumb.label }}</span>
            <i class="iconfont icon-circle"></i>
        </li>
    {% else %}
        <li>
            <span class="active">{{ breadcrumb.label }}</span>
        </li>
    {% endif %}
{% endfor %}
</ul>
<!-- END PAGE BREADCRUMB -->
