<style>
    .btn{ padding:10px 20px;font-size:24px;background:#EB6F5A;border-radius:4px;color: #FFF !important;text-decoration:none !important;cursor:pointer; }
</style>
<a href="http://zyj.maxwhale.cn{{ path("publicIndex") }}">
    <img src="http://zyj.maxwhale.cn{{ asset("bundles/public/images/logo130_32.png") }}" alt="logo">
</a>
<h3>尊敬的用户：{{ username }}</h3>
{% block emailContent %}{% endblock %}

<p>（如非本人操作，请忽略此邮件）</p>
<p>{{ GLOBAL_TITLE }}-用户中心</p>
