<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        Copyright © {{ "now" | date("Y") }} {{ GLOBAL_TITLE }} Incorporated. All Rights Reserved. {% include "PublicBundle::Modules/Footers/version.html.twig" %}
    </div>
</div>
<!-- END FOOTER -->