/**
 * Created by PhpStorm.
 * User: Yue
 * Date: 2017/4/19
 * Time: 16:29
 */
.fontSize12{ font-size: 12px !important; }
.fontSize14{ font-size: 14px !important; }
.fontSize16{ font-size: 16px !important; }
.fontSize18{ font-size: 18px !important; }
.fontSize20{ font-size: 20px !important; }