/**
 * Created by PhpStorm.
 * User: Yue
 * Date: 2017/4/19
 * Time: 16:29
 */
/*scrollbar*/
::-webkit-scrollbar{ width:8px;height:8px; }
::-webkit-scrollbar-track{ background-color:#EEE; }
::-webkit-scrollbar-thumb{ background-color:#888;border-radius:15px; }
::-webkit-scrollbar-corner{ background-color:#888; }

/*font size*/
.font-size-12{ font-size:12px !important; }
.font-size-14{ font-size:14px !important; }
.font-size-16{ font-size:16px !important; }
.font-size-18{ font-size:18px !important; }
.font-size-20{ font-size:20px !important; }
.font-weight-bold{ font-weight:bold !important; }
.font-weight-normal{ font-weight:normal !important; }

.cursor-default{ cursor:default !important;}
.border-none{ border:none !important; }
.no-resize{ resize:none !important;}

.fl{ float:left; }
.fr{ float:right; }
