/**
 * Created by PhpStorm.
 * User: Yue
 * Date: 2017/4/19
 * Time: 16:29
 */
/*scrollbar*/
::-webkit-scrollbar{ width:8px;height:8px; }
::-webkit-scrollbar-track{ background-color:#EEE; }
::-webkit-scrollbar-thumb{ background-color:#888;border-radius:15px; }
::-webkit-scrollbar-corner{ background-color:#888; }

/*font size*/
.font-size-12{ font-size:12px !important; }
.font-size-14{ font-size:14px !important; }
.font-size-16{ font-size:16px !important; }
.font-size-18{ font-size:18px !important; }
.font-size-20{ font-size:20px !important; }
.font-weight-bold{ font-weight:bold !important; }
.font-weight-normal{ font-weight:normal !important; }

.cursor-default{ cursor:default !important;}
.cursor-pointer{ cursor:pointer !important;}
.border-none{ border:none !important; }
.display-none { display: none !important; }
.no-resize{ resize:none !important;}
.tool-tip:hover{ text-decoration:none; }

.fl{ float:left !important; }
.fr{ float:right !important; }
.mt10{ margin-top:10px !important; }
.mb10{ margin-bottom:10px !important; }

tbody td { padding-left:18px !important; }
